*{
	margin: 0px;
}

.header{
	background-color: green;
	height: 80px;
}



.header a {
text-decoration: none;
color: white;
}

.header a:hover{
	color: orange;
}
.score{
	background-color: #ce8ff2;
	height: 250px;
	width: 200px;
	margin-top: 65px;
	margin-left: 20px;
	
	
}


.box{
	background-color: #6696bb;
	height: 400px;
	width: 700px;
	margin-top: 60px;
	margin-left: 300px;
}


input{
	background-color: silver;
}

p{
	font-size: 30px;
	line-height: 60px;
}

button{
	width: 110px;    
	height: 110px;   
	text-align: center;
	line-height: 15px;
	font-size: 65px;
	position:fixed;	
	
	
}

#sub{
	font-size: 15px;
	text-align: center;
	background-color: orange;
	color: black;
}

#demo{
	position: fixed;	
	left:560px;
  	top:200px;
}

#demo1{
	position: fixed;	
	left:670px;
  	top:200px;
}

#demo2{
	position: fixed;	
	left:780px;
  	top:200px;
}

#demo3{
	position: fixed;	
	left:560px;
  	top:310px;
}

#demo4{
	position: fixed;	
	left:670px;
  	top:310px;
}

#demo5{
	position: fixed;	
	left:780px;
  	top:310px;
}
#demo6{
	position: fixed;	
	left:560px;
  	top:420px;
}

#demo7{
	position: fixed;	
	left:670px;
  	top:420px;
}

#demo8{
	position: fixed;	
	left:780px;
  	top:420px;
}




body{
	background-color: black;
}
